<header>
    <h1>DIGITAL <span class="material-symbols-outlined">security</span> DEFENSE</h1>
    <nav>
        <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Overview</a>
        <a href="/scope" class="<%= currentPage === 'scope' ? 'active' : '' %>">Scope</a>
        <a href="/types" class="<%= currentPage === 'types' ? 'active' : '' %>">Types</a>
        <a href="/defense" class="<%= currentPage === 'defense' ? 'active' : '' %>">Defense</a>
        <a href="/recovery" class="<%= currentPage === 'recovery' ? 'active' : '' %>">Recovery</a>
    </nav>
</header>